# Exploring Disney Land Wait Time Data Set

In [1]:
import pandas as pd ## call pandas functions using "pd"
import numpy as np  ## call numpy functions using "np"

#import meta data
meta = pd.read_csv("disney.csv")

#import magic kingdom rides (wait times)
splash = pd.read_csv("splash_mountain.csv")
seven_dwarfs = pd.read_csv("7_dwarfs_train.csv")
pirates = pd.read_csv('pirates_of_caribbean.csv')

In [2]:
# First five rows of meta, five columns, # start date 2012
meta.iloc[0:5, 0:10]

,DATE,WDW_TICKET_SEASON,DAYOFWEEK,DAYOFYEAR,WEEKOFYEAR,MONTHOFYEAR,YEAR,SEASON,HOLIDAYPX,HOLIDAYM
0,01/01/2012,NaN,1,0,1,1,2012,CHRISTMAS PEAK,0,5
1,01/02/2012,NaN,2,1,1,1,2012,CHRISTMAS,2,5
2,01/03/2012,NaN,3,2,1,1,2012,CHRISTMAS,3,0
3,01/04/2012,NaN,4,3,1,1,2012,CHRISTMAS,4,0
4,01/05/2012,NaN,5,4,1,1,2012,CHRISTMAS,5,0

In [4]:
# Dropping sactmin from magic world rides, then dropping NaN from spostmin

# Drop rows where wait time is not available (-999)
pirates = pirates[pirates.SPOSTMIN > 0]
seven_dwarfs = seven_dwarfs[seven_dwarfs.SPOSTMIN > 0]
splash = splash[splash.SPOSTMIN > 0]

splash.head() #has posted minutes for each ride

         date             datetime  SPOSTMIN  SACTMIN
0  01/01/2012  2012-01-01 10:31:00      30.0      NaN
1  01/01/2012  2012-01-01 10:40:00      30.0      NaN
3  01/01/2012  2012-01-01 12:02:00      30.0      NaN
5  01/01/2012  2012-01-01 12:38:00      35.0      NaN
6  01/01/2012  2012-01-01 12:44:00      25.0      NaN

In [5]:
#Merging each ride with meta_data, using date as key
meta_splash = pd.merge(splash, meta, left_on="date", right_on="DATE").drop('DATE', axis = 1)

In [ ]:
#skip run due to crashing for now
#meta_dwarfs = pd.merge(seven_dwarfs, meta, left_on="date", right_on="DATE").drop('DATE', axis = 1)
#meta_pirates = pd.merge(pirates, meta, left_on="date", right_on="DATE").drop('DATE', axis = 1)

In [6]:
#change NAs to 0 values
meta_splash = meta_splash.fillna(0)
#format date in a way that can be worked with
meta_splash['date'] = pd.to_datetime(meta_splash['date'])
meta_splash.head()

,date,datetime,SPOSTMIN,SACTMIN,WDW_TICKET_SEASON,DAYOFWEEK,DAYOFYEAR,WEEKOFYEAR,MONTHOFYEAR,YEAR,...,HSFIREWKS,AKPRDDAY,AKPRDDT1,AKPRDDT2,AKPRDDN,AKFIREN,AKSHWNGT,AKSHWNT1,AKSHWNT2,AKSHWNN
0,2012-01-01,2012-01-01 10:31:00,30.0,0.0,0,1,0,1,1,2012,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
1,2012-01-01,2012-01-01 10:40:00,30.0,0.0,0,1,0,1,1,2012,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
2,2012-01-01,2012-01-01 12:02:00,30.0,0.0,0,1,0,1,1,2012,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
3,2012-01-01,2012-01-01 12:38:00,35.0,0.0,0,1,0,1,1,2012,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
4,2012-01-01,2012-01-01 12:44:00,25.0,0.0,0,1,0,1,1,2012,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0

In [34]:
#sum all posted wait times by day in meta_splash
sum_by_day = meta_splash.groupby('date')['SPOSTMIN'].mean()
#reset index to create dataframe columns
sum_by_day = sum_by_day.reset_index()
sum_by_day = pd.DataFrame(sum_by_day,columns=['date','SPOSTMIN'])
sum_by_day.head()

        date   SPOSTMIN
0 2012-01-01  37.727273
1 2012-01-02  43.750000
2 2012-01-03   5.000000
3 2012-01-04  17.142857
4 2012-01-05  41.153846

In [35]:
meta['DATE'] = pd.to_datetime(meta['DATE'])
#merge back with original meta set for daily weighted averages
meta_splash2 = pd.merge(sum_by_day, meta, left_on="date", right_on="DATE").drop('DATE', axis = 1)
meta_splash2.head()

,date,SPOSTMIN,WDW_TICKET_SEASON,DAYOFWEEK,DAYOFYEAR,WEEKOFYEAR,MONTHOFYEAR,YEAR,SEASON,HOLIDAYPX,...,HSFIREWKS,AKPRDDAY,AKPRDDT1,AKPRDDT2,AKPRDDN,AKFIREN,AKSHWNGT,AKSHWNT1,AKSHWNT2,AKSHWNN
0,2012-01-01,37.727273,NaN,1,0,1,1,2012,CHRISTMAS PEAK,0,...,1,1,15:45,NaN,Mickey's Jingle Jungle Parade,NaN,0,NaN,NaN,NaN
1,2012-01-02,43.750000,NaN,2,1,1,1,2012,CHRISTMAS,2,...,1,1,15:45,NaN,Mickey's Jingle Jungle Parade,NaN,0,NaN,NaN,NaN
2,2012-01-03,5.000000,NaN,3,2,1,1,2012,CHRISTMAS,3,...,1,1,15:45,NaN,Mickey's Jammin' Jungle Parade,NaN,0,NaN,NaN,NaN
3,2012-01-04,17.142857,NaN,4,3,1,1,2012,CHRISTMAS,4,...,1,1,15:45,NaN,Mickey's Jammin' Jungle Parade,NaN,0,NaN,NaN,NaN
4,2012-01-05,41.153846,NaN,5,4,1,1,2012,CHRISTMAS,5,...,1,1,15:45,NaN,Mickey's Jammin' Jungle Parade,NaN,0,NaN,NaN,NaN

In [37]:
#fill na for new meta splash data
meta_splash2 = meta_splash2.fillna(0)

In [38]:
xmas = meta_splash2[meta_splash2.SEASON == 'CHRISTMAS']
xmas

,date,SPOSTMIN,WDW_TICKET_SEASON,DAYOFWEEK,DAYOFYEAR,WEEKOFYEAR,MONTHOFYEAR,YEAR,SEASON,HOLIDAYPX,...,HSFIREWKS,AKPRDDAY,AKPRDDT1,AKPRDDT2,AKPRDDN,AKFIREN,AKSHWNGT,AKSHWNT1,AKSHWNT2,AKSHWNN
1,2012-01-02,43.750000,0,2,1,1,1,2012,CHRISTMAS,2,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
2,2012-01-03,5.000000,0,3,2,1,1,2012,CHRISTMAS,3,...,1,1,15:45,0.0,Mickey's Jammin' Jungle Parade,0.0,0,0,0,0
3,2012-01-04,17.142857,0,4,3,1,1,2012,CHRISTMAS,4,...,1,1,15:45,0.0,Mickey's Jammin' Jungle Parade,0.0,0,0,0,0
4,2012-01-05,41.153846,0,5,4,1,1,2012,CHRISTMAS,5,...,1,1,15:45,0.0,Mickey's Jammin' Jungle Parade,0.0,0,0,0,0
5,2012-01-06,37.666667,0,6,5,1,1,2012,CHRISTMAS,6,...,1,1,15:45,0.0,Mickey's Jammin' Jungle Parade,0.0,0,0,0,0
6,2012-01-07,25.625000,0,7,6,1,1,2012,CHRISTMAS,7,...,1,1,15:45,0.0,Mickey's Jammin' Jungle Parade,0.0,0,0,0,0
7,2012-01-08,18.043478,0,1,7,2,1,2012,CHRISTMAS,8,...,1,1,15:45,0.0,Mickey's Jammin' Jungle Parade,0.0,0,0,0,0
8,2012-01-09,53.500000,0,2,8,2,1,2012,CHRISTMAS,8,...,1,1,15:45,0.0,Mickey's Jammin' Jungle Parade,0.0,0,0,0,0
348,2012-12-18,7.349398,0,3,352,51,12,2012,CHRISTMAS,7,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
349,2012-12-19,28.839286,0,4,353,51,12,2012,CHRISTMAS,6,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
350,2012-12-20,16.796875,0,5,354,51,12,2012,CHRISTMAS,5,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
351,2012-12-21,6.402439,0,6,355,51,12,2012,CHRISTMAS,4,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
352,2012-12-22,8.986486,0,7,356,51,12,2012,CHRISTMAS,3,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
353,2012-12-23,14.391892,0,1,357,52,12,2012,CHRISTMAS,2,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
354,2012-12-24,38.855422,0,2,358,52,12,2012,CHRISTMAS,0,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
355,2012-12-25,47.761194,0,3,359,52,12,2012,CHRISTMAS,0,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
356,2012-12-26,21.686747,0,4,360,52,12,2012,CHRISTMAS,2,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
636,2013-12-18,18.785047,0,4,351,50,12,2013,CHRISTMAS,7,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
637,2013-12-19,15.218978,0,5,352,50,12,2013,CHRISTMAS,6,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
638,2013-12-20,13.403361,0,6,353,50,12,2013,CHRISTMAS,5,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
639,2013-12-21,32.248322,0,7,354,50,12,2013,CHRISTMAS,4,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
640,2013-12-22,29.573171,0,1,355,51,12,2013,CHRISTMAS,3,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
641,2013-12-23,33.322581,0,2,356,51,12,2013,CHRISTMAS,2,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
642,2013-12-24,34.172662,0,3,357,51,12,2013,CHRISTMAS,0,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
643,2013-12-25,44.285714,0,4,358,51,12,2013,CHRISTMAS,0,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
644,2013-12-26,50.800000,0,5,359,51,12,2013,CHRISTMAS,2,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
651,2014-01-02,32.953020,0,5,1,0,1,2014,CHRISTMAS,2,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
652,2014-01-03,14.437086,0,6,2,0,1,2014,CHRISTMAS,3,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
653,2014-01-04,27.933884,0,7,3,0,1,2014,CHRISTMAS,4,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
654,2014-01-05,55.765306,0,1,4,1,1,2014,CHRISTMAS,5,...,1,1,15:45,0.0,Mickey's Jingle Jungle Parade,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1909,2017-12-20,95.052083,regular,4,353,51,12,2017,CHRISTMAS,5,...,1,0,0,0.0,0,0.0,2,19:15,20:30,Rivers of Light
1910,2017-12-21,30.820896,peak,5,354,51,12,2017,CHRISTMAS,4,...,1,0,0,0.0,0,0.0,2,19:15,20:30,Rivers of Light
1911,2017-12-22,23.986928,peak,6,355,51,12,2017,CHRISTMAS,3,...,1,0,0,0.0,0,0.0,2,19:15,20:30,Rivers of Light
1912,2017-12-23,54.677419,peak,7,356,51,12,2017,CHRISTMAS,2,...,1,0,0,0.0,0,0.0,2,19:15,20:30,Rivers of Light
1913,2017-12-24,76.082090,peak,1,357,52,12,2017,CHRISTMAS,0,...,1,0,0,0.0,0,0.0,3,19:15,20:30,Rivers of Light
1914,2017-12-25,62.600000,peak,2,358,52,12,2017,CHRISTMAS,0,...,1,0,0,0.0,0,0.0,3,19:15,20:30,Rivers of Light
1915,2017-12-26,45.714286,peak,3,359,52,12,2017,CHRISTMAS,2,...,1,0,0,0.0,0,0.0,3,19:15,20:30,Rivers of Light
1922,2018-01-02,20.537190,peak,3,1,0,1,2018,CHRISTMAS,2,...,1,0,0,0.0,0,0.0,2,18:30,19:45,Rivers of Light
1923,2018-01-03,10.196850,peak,4,2,0,1,2018,CHRISTMAS,3,...,1,0,0,0.0,0,0.0,2,18:30,19:45,Rivers of Light
1924,2018-01-04,28.115385,regular,5,3,0,1,2018,CHRISTMAS,4,...,1,0,0,0.0,0,0.0,2,18:30,19:45,Rivers of Light
1925,2018-01-05,14.535714,regular,6,4,0,1,2018,CHRISTMAS,5,...,1,0,0,0.0,0,0.0,2,18:30,19:45,Rivers of Light
1926,2018-01-06,15.504587,regular,7,5,0,1,2018,CHRISTMAS,6,...,1,0,0,0.0,0,0.0,2,18:30,19:45,Rivers of Light
1927,2018-01-07,27.731481,regular,1,6,1,1,2018,CHRISTMAS,7,...,1,0,0,0.0,0,0.0,2,18:30,19:45,Rivers of Light
2247,2018-12-18,17.291667,regular,3,351,50,12,2018,CHRISTMAS,7,...,1,0,0,0.0,0,0.0,2,18:15,19:30,Rivers of Light
2248,2018-12-19,49.531250,regular,4,352,50,12,2018,CHRISTMAS,6,...,1,0,0,0.0,0,0.0,2,18:15,19:30,Rivers of Light
2249,2018-12-20,5.247934,peak,5,353,50,12,2018,CHRISTMAS,5,...,1,0,0,0.0,0,0.0,2,18:15,19:30,Rivers of Light
2250,2018-12-21,9.262295,peak,6,354,50,12,2018,CHRISTMAS,4,...,1,0,0,0.0,0,0.0,2,18:15,19:30,Rivers of Light
2251,2018-12-22,26.655405,peak,7,355,50,12,2018,CHRISTMAS,3,...,1,0,0,0.0,0,0.0,2,18:15,19:30,Rivers of Light
2252,2018-12-23,26.344828,peak,1,356,51,12,2018,CHRISTMAS,2,...,1,0,0,0.0,0,0.0,3,18:15,19:45,Rivers of Light
2253,2018-12-24,59.153846,peak,2,357,51,12,2018,CHRISTMAS,0,...,1,0,0,0.0,0,0.0,3,18:15,19:45,Rivers of Light
2254,2018-12-25,67.614379,peak,3,358,51,12,2018,CHRISTMAS,0,...,1,0,0,0.0,0,0.0,3,18:15,19:45,Rivers of Light
2255,2018-12-26,55.935252,peak,4,359,51,12,2018,CHRISTMAS,2,...,1,0,0,0.0,0,0.0,3,18:15,19:45,Rivers of Light
2262,2019-01-02,100.760000,peak,4,1,0,1,2019,CHRISTMAS,2,...,1,0,0,0.0,0,0.0,2,18:30,20:00,Rivers of Light
2263,2019-01-03,102.265625,peak,5,2,0,1,2019,CHRISTMAS,3,...,1,0,0,0.0,0,0.0,2,18:30,20:00,Rivers of Light
2264,2019-01-04,79.742647,peak,6,3,0,1,2019,CHRISTMAS,4,...,1,0,0,0.0,0,0.0,2,18:30,20:00,Rivers of Light
2265,2019-01-05,41.030534,peak,7,4,0,1,2019,CHRISTMAS,5,...,1,0,0,0.0,0,0.0,2,18:30,20:00,Rivers of Light
2266,2019-01-06,32.136364,regular,1,5,1,1,2019,CHRISTMAS,6,...,1,0,0,0.0,0,0.0,2,18:30,19:45,Rivers of Light
2267,2019-01-07,41.000000,regular,2,6,1,1,2019,CHRISTMAS,7,...,1,0,0,0.0,0,0.0,2,18:30,19:45,Rivers of Light
2268,2019-01-08,40.817308,value,3,7,1,1,2019,CHRISTMAS,8,...,1,0,0,0.0,0,0.0,3,18:30,19:45,Rivers of Light
2269,2019-01-09,26.422018,value,4,8,1,1,2019,CHRISTMAS,9,...,1,0,0,0.0,0,0.0,2,18:30,19:45,Rivers of Light