# Data cleaning on Disney Dataset

In [1]:
import pandas as pd ## call pandas functions using "pd"
import numpy as np  ## call numpy functions using "np"
disney_data = pd.read_csv("disney.csv")


# First ten rows
disney_data.iloc[0:5]

,DATE,WDW_TICKET_SEASON,DAYOFWEEK,DAYOFYEAR,WEEKOFYEAR,MONTHOFYEAR,YEAR,SEASON,HOLIDAYPX,HOLIDAYM,...,HSFIREWKS,AKPRDDAY,AKPRDDT1,AKPRDDT2,AKPRDDN,AKFIREN,AKSHWNGT,AKSHWNT1,AKSHWNT2,AKSHWNN
0,01/01/2012,NaN,1,0,1,1,2012,CHRISTMAS PEAK,0,5,...,1,1,15:45,NaN,Mickey's Jingle Jungle Parade,NaN,0,NaN,NaN,NaN
1,01/02/2012,NaN,2,1,1,1,2012,CHRISTMAS,2,5,...,1,1,15:45,NaN,Mickey's Jingle Jungle Parade,NaN,0,NaN,NaN,NaN
2,01/03/2012,NaN,3,2,1,1,2012,CHRISTMAS,3,0,...,1,1,15:45,NaN,Mickey's Jammin' Jungle Parade,NaN,0,NaN,NaN,NaN
3,01/04/2012,NaN,4,3,1,1,2012,CHRISTMAS,4,0,...,1,1,15:45,NaN,Mickey's Jammin' Jungle Parade,NaN,0,NaN,NaN,NaN
4,01/05/2012,NaN,5,4,1,1,2012,CHRISTMAS,5,0,...,1,1,15:45,NaN,Mickey's Jammin' Jungle Parade,NaN,0,NaN,NaN,NaN